# === Python / FastAPI ===
__pycache__/
*.py[cod]
*.egg-info/
*.log
.venv
.venv.*
.venv/

*.sqlite3

# === Node.js / React ===
node_modules/
build/
dist/
*.log
.venv
.venv.local
.venv.development
.venv.production

# === OS / Editor Specific ===
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
